@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Attending";
}

<h2>Attending</h2>

<ul>
    @foreach (var gig in Model)
    {
            <li>
                <div class="date">
                    <div class="month">
                        @gig.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @gig.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="details">
                    <span class="artist">
                        @gig.Artist.Name
                        @if (Request.IsAuthenticated)
                    {
                            <button data-followee-id="@gig.ArtistId" class="js-toggle-following btn btn-link btn-sm pull-right">Follow</button>
                        }
                    </span>

                    <span class="genre">
                        @gig.Genre.Name
                    </span>
                    @if (Request.IsAuthenticated)
                    {
                        <button data-gig-id="@gig.Id" class="js-toggle-attendance btn btn-default btn-sm pull-right">Going?</button>
                    }
                </div>
            </li>
        
    }
</ul>
</table>
